<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sendToList" type="WorkerHost.SendToConfigSection, WorkerHost" requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    <section name="sendFrom" type="WorkerHost.SendFromConfigSection, WorkerHost" requirePermission="true" restartOnExternalChanges="true" allowLocation="true" />
  </configSections>
  
  <!-- Specify sender of alerts -->
 <!-- For email notification, specify email address-->
  <!-- For SMS notification, specify phone number. If you use a Twilio trial account, you get this number from Twilio when you sign up--> 
  <sendFrom
    address="sender@outlook.com"
    displayName="Sender Name"
    subject="CTD Alerts" />
  
  <!-- Specify recipient(s) of alerts - one or more people to be notified -->
  <!-- For email notification, this should be email address-->
  <!-- For SMS notification, this should be phone number-->
  <sendToList>
    <add address="operator1@outlook.com" />
    <add address="operator2@outlook.com" />
  </sendToList>
  
  <appSettings>
    <!-- 
      Supply credentials for event hub to monitor. 
      To find, open Azure management portal, select Namespace -> Event Hub -> connection information -> connection string 
      Example format (imaginary values):
        <add key="Microsoft.ServiceBus.EventHubToMonitor" value="ehalerts" />
        <add key="Microsoft.ServiceBus.ServiceBusConnectionString" value="Endpoint=sb://mynamespace.servicebus.windows.net/;SharedAccessKeyName=MyPolicyName;SharedAccessKey=G3d70qqNuiRnChdhZh120oHml9t6xLbTNuxxrHJ0vHY=" />
    -->
    <add key="Microsoft.ServiceBus.EventHubToMonitor" value="[Event Hub name]" /> 
    <add key="Microsoft.ServiceBus.ServiceBusConnectionString" value="[Service Bus connection string]" /> 
    <!--Should be different consumer group for each Worker Role/EH pair-->
    <add key="ConsumerGroupPrefix" value="Monitor" />
    
    <!--
      Notification Service used to send alerts. Need to have appropriate subscription
      Currently enabled options: Smtp, SendGrid (SMTP), or SendGridWeb (SendGrid client library)]
      
      To use SMTP server from ISP, set NotificationService to "Smtp", SmtpHost to ISP SMTP server
      To use SMTP server from SendGrid, set NotificationService to "Smtp", SmtpHost to "smtp.sendgrid.net"
      
      To use SendGrid client library, set NotificationService to "SendGridWeb". Smtphost and SmtpEnableSSL ignored
      
      To use Twilio for SMS, set NotificationService to "Twilio", user name to Twilio Account SID, password to Twilio Auth Token. Smtphost and SmtpEnableSSL ignored
      To use Twilio for Phone, set NotificationService to "TwilioCall", user name to Twilio Account SID, password to Twilio Auth Token. Smtphost and SmtpEnableSSL ignored
    -->
    <add key="NotificationService" value="Smtp" />
    <add key="SmtpHost" value="[host name]" />
    <add key="SenderUserName" value="[user name]" />
    <add key="SenderPassword" value="[user password]" />    
    <add key="SmtpEnableSSL" value="true" />
  </appSettings>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>