<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
 * DeviceDisplayName: name that will appear on Azure website chart
 
 * AMQPAddress: AMQP address string syntax is an example for Azure Service Bus/Event Hub. Any AMQP broker can be used 
   by using the proper address/target in format "amqps://<keyname>:<key>=@<namespace>.servicebus.windows.net", e.g.
   amqps://D1:AxGGuhEVRzm2b11TZt9QjOZKhsG5yr69Yl8PcHKPcf4%3D@youriot-ns.servicebus.windows.net
   Note you need to make sure to put in ASCII equivalents for characters such as =,/,\,+
 
 * SendFrequency: rate at which, in milliseconds, data sent from gateway to Azure Event Hub
 
 * Forever: if TRUE, gateway runs forever; if FALSE, runs for a few cycles then stops - for debugging purposes only.
 
 * serialPortName: ID for serial port that Raspberry Pi will poll for incoming data from sensor
 -->
<configuration>
  <appSettings>
    <add key ="Sensor" value="Arduino Weathershield"/>
    <add key ="EdgeGateway" value="RaspberryPi"/>
    <add key="DeviceDisplayName" value="RPi b9/1508 test" />
    <add key="AMQPAddress" value="amqps://[keyname]:[key]@[namespace].servicebus.windows.net" />
    <add key="EHtarget" value="ehdevices" />
    <add key="SendFrequency" value="1000" />
    <add key ="serialPortName" value ="/dev/ttyACM0" />
    <add key="Forever" value="true" />
    <add key="Subject" value="wthr" />
    <add key="Key1" value="time" />
    <add key="Key2" value="from" />
    <add key="Key3" value="dspl" />
  </appSettings>
</configuration>