<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
 * AMQPAddress: AMQP address string syntax is an example for Azure Service Bus/Event Hub. Any AMQP broker can be used 
   by using the proper address/target in format "amqps://<keyname>:<key>=@<namespace>.servicebus.windows.net", e.g.
   amqps://D1:AxGGuhEVRzm2b11TZt9QjOZKhsG5yr69Yl8PcHKPcf4%3D@youriot-ns.servicebus.windows.net
   Note you need to make sure to put in ASCII equivalents for characters such as =,/,\,+
  -->
<configuration>
  <appSettings>
    <add key ="EdgeGateway" value="R Pi"/>
    <add key="AMQPAddress" value="amqps://D1:myconnectionkey@mynamespace.servicebus.windows.net" />
    <add key="EHtarget" value="ehdevices" />
  </appSettings>
</configuration>
