<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!-- sensors config -->
    <!-- "Only one <configSections> element allowed per config file and if present must be the first child of the root <configuration> element. -->
    <configSections>
        <section name="dataIntakes"
                    type="WindowsService.Utils.DataIntakeConfigSection, GatewayService"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="sensorEndpoints"
                type="WindowsService.Utils.SensorEndpointConfigSection, GatewayService"
                requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="AMQPServiceConfig"
            type="WindowsService.Utils.AMQPServiceConfigSection, GatewayService"
            requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    </configSections>

    <AMQPServiceConfig
        AMQPSAddress="amqps://D1:FfMqDgdAdIjAzAAXWpI4Ci%2FiVFGe8nurc63GF8JEF%2BI%3D@ehlt72-ns.servicebus.windows.net"
        EventHubName="ehdevices"
        EventHubMessageSubject="gtsv"
        EventHubDeviceId="123"
        EventHubDeviceDisplayName="SensorGatewayService"/>

    <dataIntakes>
    </dataIntakes>

    <sensorEndpoints>
    <add name="LocalForSocket" port="5000" host="192.168.50.62" />
    </sensorEndpoints>


    <!-- service config -->

    <system.serviceModel>
    <services>
        <!-- This section is optional with the new configuration model
            introduced in .NET Framework 4. -->
        <service name="Gateway.GatewayService"
                behaviorConfiguration="GatewayServiceBehavior">
        <host>
            <baseAddresses>
            <add baseAddress="http://localhost:8000/GatewayService/"/>
            </baseAddresses>
        </host>

        <!-- this endpoint is exposed at the base address provided by host  -->
        <endpoint address="API"
                    binding="webHttpBinding"
                    contract="Gateway.IGatewayService" behaviorConfiguration="WebHttp" />
        </service>
    </services>
    <behaviors>
        <endpointBehaviors>
        <behavior name="WebHttp">
            <webHttp />
        </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
        <behavior name="GatewayServiceBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        </serviceBehaviors>
    </behaviors>
    </system.serviceModel>

    <!-- runtime config -->
    <runtime>
        <!-- do not close process on unobserved exception -->
        <ThrowUnobservedTaskExceptions enabled="false"/>
    </runtime>

    <!-- app config-->
    <appSettings>
        <!-- enable/disable logging: 'Disabled' is disabled, 'Errors' is errors only, 'Verbose' is errors and info -->
        <add key="LoggingLevel" value="Errors" />
    </appSettings>
    
</configuration>