<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataIntakes"
             type="WindowsService.Utils.DataIntakeConfigSection, GatewayService"
             requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    <section name="sensorEndpoints"
           type="WindowsService.Utils.EndpointConfigSection, GatewayService"
           requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
  </configSections>
  <dataIntakes>
    <add name="SerialPortSensor" type="SerialPortListener.SerialPortListenerThread"
         assemblyPath="..\..\SLAC\connectthedots1\Devices\Gateways\GatewayService\DataIntakes\SerialPortListener\bin\Debug\SerialPortListener.dll"/>
    <add name="SocketSensor" type="SocketListener.SocketListenerThread"
         assemblyPath="..\..\SLAC\connectthedots1\Devices\Gateways\GatewayService\DataIntakes\SocketListener\bin\Debug\SocketListener.dll"/>
    <add name="TestSensor" type="DataIntakeTestMock.DataIntakeTestMockThread"
         assemblyPath="..\..\SLAC\connectthedots1\Devices\Gateways\GatewayService\Tests\DataIntakeTestMock\bin\Debug\DataIntakeTestMock.dll"/>
  </dataIntakes>
  <sensorEndpoints>
    <add name="Local" port="5000" ip="192.168.50.62" />
  </sensorEndpoints>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="Gateway.GatewayService"
               behaviorConfiguration="GatewayServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/GatewayService/"/>
          </baseAddresses>
        </host>
        
        <!-- this endpoint is exposed at the base address provided by host  -->
        <endpoint address="API"
                  binding="webHttpBinding"
                  contract="Gateway.IGatewayService" behaviorConfiguration="WebHttp" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GatewayServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>