<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- sensors config -->
    <!-- "Only one <configSections> element allowed per config file and if present must be the first child of the root <configuration> element. -->
    <configSections>
        <section name="dataIntakes"
                    type="Microsoft.ConnectTheDots.Common.DeviceAdapterConfigSection, Microsoft.ConnectTheDots.Common"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="sensorEndpoints"
                type="Microsoft.ConnectTheDots.Common.SensorEndpointConfigSection, Microsoft.ConnectTheDots.Common"
                requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="AMQPServiceConfig"
            type="Microsoft.ConnectTheDots.Common.AMQPServiceConfigSection, Microsoft.ConnectTheDots.Common"
            requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="dataTransformsConfig"
            type="Microsoft.ConnectTheDots.Common.DataTransformsConfigSection, Microsoft.ConnectTheDots.Common"
            requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    </configSections>

    <AMQPServiceConfig
    AMQPSAddress="amqps://[key-name]:[key]@[namespace].servicebus.windows.net"
    EventHubName="ehdevices"
    EventHubMessageSubject="gtsv"
    EventHubDeviceId="a94cd58f-4698-4d6a-b9b5-4e3e0f794618"
    EventHubDeviceDisplayName="SensorGatewayService"/>

    <dataIntakes>
      <add name="SocketSensor"
          type="Microsoft.ConnectTheDots.Adapters.SocketAdapter"
          assemblyPath="..\..\..\DeviceAdapters\Socket\bin\Debug\Microsoft.ConnectTheDots.SocketAdapter.dll"/>
      <add name="SerialPortSensor"
          type="Microsoft.ConnectTheDots.Adapters.SerialPortAdapter"
          assemblyPath="..\..\..\DeviceAdapters\SerialPort\bin\Debug\Microsoft.ConnectTheDots.SerialPortAdapter.dll"/>
    </dataIntakes>

    <sensorEndpoints>
        <add name="LocalForSocket" port="5000" host="127.0.0.1" />
    </sensorEndpoints>

    <dataTransformsConfig AttachTime="true" AttachIP="false" />
  
    <!-- service config -->

    <system.serviceModel>
        <services>
            <!-- This section is optional with the new configuration model introduced in .NET Framework 4. -->
            <service name="Microsoft.ConnectTheDots.Gateway.GatewayService"
                    behaviorConfiguration="GatewayServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/GatewayService/"/>
                    </baseAddresses>
                </host>

                <!-- this endpoint is exposed at the base address provided by host  -->
                <endpoint address="API"
                            binding="webHttpBinding"
                            contract="Microsoft.ConnectTheDots.Gateway.IGatewayService" behaviorConfiguration="WebHttp" />
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="WebHttp">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="GatewayServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

    <!-- runtime config -->
    <runtime>
        <!-- do not close process on unobserved exception -->
        <ThrowUnobservedTaskExceptions enabled="false"/>
    </runtime>

    <!-- app config-->
    <appSettings>
        <!-- enable/disable logging: 'Disabled' is disabled, 'Errors' is errors only, 'Verbose' is errors and info -->
        <add key="LoggingLevel" value="Verbose" />
    </appSettings>
    
</configuration>
