<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- sensors config -->
    <!-- "Only one <configSections> element allowed per config file and if present must be the first child of the root <configuration> element. -->
    <configSections>
        <section name="dataIntakes"
                    type="CoreTest.Utils.Loader.DataIntakeConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="sensorEndpoints"
                    type="CoreTest.Utils.Loader.SensorEndpointConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="AMQPServiceConfig"
                    type="CoreTest.Utils.Loader.AMQPServiceConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    </configSections>

    <AMQPServiceConfig
        AMQPSAddress="amqps://D1:A1hKG7%2Fg%2Febz22Hpp%2FfRiwZc6AkTCmIaGw6qtsK2UMc%3D@dinartst-ns.servicebus.windows.net"
        EventHubName="ehdevices"
        EventHubMessageSubject="gtsv"
        EventHubDeviceId="123"
        EventHubDeviceDisplayName="SensorGatewayService"/>

    <dataIntakes>
        <add name="SocketSensor"
            type="SocketListener.SocketListenerThread"
            assemblyPath="..\..\..\..\DataIntakes\SocketListener\bin\Debug\SocketListener.dll"/>
    </dataIntakes>

    <sensorEndpoints>
        <add name="LocalForSocket" port="5000" host="192.168.50.62" />
    </sensorEndpoints>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!-- runtime config -->
    <runtime>
        <!-- do not close process on unobserved exception -->
        <ThrowUnobservedTaskExceptions enabled="false"/>
    </runtime>

    <!-- app config-->
    <appSettings>
        <!-- enable/disable logging: 'Disabled' is disabled, 'Errors' is errors only, 'Verbose' is errors and info -->
        <add key="LoggingLevel" value="Verbose" />
    </appSettings>

</configuration>
