<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- sensors config -->
    <!-- "Only one <configSections> element allowed per config file and if present must be the first child of the root <configuration> element. -->
    <configSections>
        <section name="dataIntakes"
                    type="Microsoft.ConnectTheDots.Test.DeviceAdapterConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="sensorEndpoints"
                    type="Microsoft.ConnectTheDots.Test.SensorEndpointConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="AMQPServiceConfig"
                    type="Microsoft.ConnectTheDots.Test.AMQPServiceConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
        <section name="dataTransformsConfig"
                    type="Microsoft.ConnectTheDots.Test.DataTransformsConfigSection, CoreTest"
                    requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
    </configSections>

    <AMQPServiceConfig
        AMQPSAddress="amqps://[key-name]:[key]@[namespace].servicebus.windows.net"
        EventHubName="ehdevices"
        EventHubMessageSubject="gtsv"
        EventHubDeviceId="123"
        EventHubDeviceDisplayName="SensorGatewayService"/>

    <dataIntakes>
      <add name="SocketSensor"
          type="Microsoft.ConnectTheDots.Adapters.SocketAdapter"
          assemblyPath="..\..\..\..\DeviceAdapters\Socket\bin\Debug\Microsoft.ConnectTheDots.SocketAdapter.dll"/>
      <add name="SerialPortAdapter"
          type="Microsoft.ConnectTheDots.Adapters.SerialPortAdapter"
          assemblyPath="..\..\..\..\DeviceAdapters\SerialPort\bin\Debug\Microsoft.ConnectTheDots.SerialPortAdapter.dll"/>
      <add name="DataIntakeMock"
          type="Microsoft.ConnectTheDots.Test.DeviceAdapterTestMock"
          assemblyPath="..\..\..\..\Tests\DeviceAdapterTestMock\bin\Debug\DataIntakeTestMock.dll"/>
    </dataIntakes>

    <sensorEndpoints>
        <add name="LocalForSocket" port="5000" host="127.0.0.1" />
    </sensorEndpoints>

    <dataTransformsConfig AttachTime="true" AttachIP="true" />

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!-- runtime config -->
    <runtime>
        <!-- do not close process on unobserved exception -->
        <ThrowUnobservedTaskExceptions enabled="false"/>
    </runtime>

    <!-- app config-->
    <appSettings>
        <!-- enable/disable logging: 'Disabled' is disabled, 'Errors' is errors only, 'Verbose' is errors and info -->
        <!-- 'Errors' level should be used for performance testing -->
        <add key="LoggingLevel" value="Verbose" />
    </appSettings>

</configuration>
