<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- insert here the type of process to monitor: 'service' or 'process' -->
    <!-- <add key="TargetType" value="service" /> -->
    <add key="TargetType" value="process" />
    <!-- insert here the name of the process to monitor, no extension, no path -->
    <add key="MonitoringTarget" value="BBUpdate" />
    <!-- insert here the cmd to launch the monitored process, with fully specified path if needed -->
    <!-- for a service, this parameter has no influence -->
    <add key="TargetExecutable" value="notepad" />
  </appSettings>

</configuration>