<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
 * Key Must  be url-decoded - decode here: http://meyerweb.com/eric/tools/dencoder/
  -->
<configuration>
  <appSettings>
    <add key ="DeviceName" value="galileo"/>
    <add key ="Host" value="{Azure Service Bus name}.servicebus.windows.net"/>
    <add key ="EventHubName" value="ehdevices"/>
    <add key ="User" value="{Shared Access Policy Name}"/>
    <add key ="Password" value="{Shared Access Key}"/>
	  <add key ="Guid" value="{Unique GUID for Device}"/>
    <add key ="Location" value="My Office"/>
    <add key ="Organization" value="MSOpenTech"/>
    <add key ="Subject" value="wthr"/>
    <add key ="AmqpMessageTracking" value="false"/>
  </appSettings>
  <sensorSettings>
    <add key ="measurename" value="Temperature"/>
    <add key ="unitofmeasure" value="F"/>
    <add key ="sensor" value="WeatherShieldTemperatureSensor"/>  
  </sensorSettings>
  <sensorSettings>
    <add key ="measurename" value="Humidity"/>
    <add key ="unitofmeasure" value="%"/>
    <add key ="sensor" value="WeatherShieldHumiditySensor"/>  
  </sensorSettings>
  <!-- 
    ...
    Add more sensors here.
    Types:
      Simulation:
      <add key ="sensor" value="FakeSensor"/>           generate random numbers between -100 and 100
      Grove Starter Kit:
      <add key ="sensor" value="GroveLightSensor"/>       light level in Lux
      <add key ="sensor" value="GroveTemperatureSensor"/> temperature in F
      WheatherShield:
      <add key ="sensor" value="WeatherShieldHumiditySensor"/>    humidity in %
      <add key ="sensor" value="WeatherShieldPressureSensor"/>    pressure in kPa
      <add key ="sensor" value="WeatherShieldTemperatureSensor"/> temperature in F
      Intel Galileo Gen1: 
      <add key ="sensor" value="OnBoardTemperatureSensor"/>       temperature of Gen1 on board sensor in C
  -->
</configuration>
