<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
 * Key Must  be url-decoded - decode here: http://meyerweb.com/eric/tools/dencoder/
  -->
<configuration>
  <appSettings>
    <add key ="DeviceName" value="galileo"/>
    <add key ="DeviceID" value="galileo"/>
    <add key ="Host" value="{service bus namespace}.servicebus.windows.net"/>
    <add key ="Path" value="ehdevices"/>
    <add key ="User" value="D3"/>
    <add key ="Password" value="{shared access key}"/>
  </appSettings>
</configuration>
