<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
 * Key Must  be url-decoded - decode here: http://meyerweb.com/eric/tools/dencoder/
  -->
<configuration>
  <appSettings>
    <add key ="namespace" value="{namespace-name}"/>
    <add key ="keyname" value="{key-name}"/>
    <add key ="key" value="{key}"/>
    <add key ="eventhubname" value="{eventhub-name}"/>
    <add key ="name" value="Galileo"/>
    <add key ="guid" value="{guid}"/>
    <add key ="location" value="My Office"/>
    <add key ="organization" value="MSOpenTech"/>
  </appSettings>
  <sensorSettings>
    <add key ="measurename" value="Temperature"/>
    <add key ="unitofmeasure" value="F"/>
  </sensorSettings>
  <sensorSettings>
    <add key ="measurename" value="Humidity"/>
    <add key ="unitofmeasure" value="%"/>
  </sensorSettings>
</configuration>
