<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IoT.NativeWiring" version="1.0.0" targetFramework="Native" />
  <package id="Microsoft.IoT.SDKFromArduino" version="1.0.0" targetFramework="Native" />
  <package id="Apache.Qpid.Proton.Unoff.IA32" version="0.8.0.0" targetFramework="Native" />
  <package id="Apache.Qpid.Proton.Unoff.IA32.redist" version="0.8.0.0" targetFramework="Native" />
</packages>