<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add targets here -->
    <!-- See https://github.com/nlog/NLog/wiki/File-target for information on target syntax -->
    <!-- keeps 5 log files, with max size earch of 500K -->
    <target name="logfile" xsi:type="File" maxArchiveFiles="5" archiveAboveSize="500000" concurrentWrites="false" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  <rules>
    <!-- add logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>