<?xml version="1.0" encoding="utf-8" ?>
<!-- NOTES
  AMQPAddress: AMQP address string syntax is an example for Azure Service Bus/Event Hub. Any AMQP broker can be used 
  by using the proper address/target in format 
  
          amqps://<SharedAccessKeyName>:<YourSharedAccessKey>@<YourNamespace>.servicebus.windows.net
 
  To construct this, do the following:
  
    1.  Copy the connection information from http://manage.windowsazure.com -> Service Bus -> <SB name> -> Event Hubs -> Connection information. You will get a string like:
  
          Endpoint=sb://mysensors.servicebus.windows.net/;SharedAccessKeyName=D1;SharedAccessKey=PX72tLcaxeCoDaTiz5+cThPQDEkty++a1jZPtHC5/Vw=
  
    2.  Encode the SharedAccessKey so that it shows the proper ASCII equivalents for characters such as =, /, \, or +. To do this You can use tools like http://meyerweb.com/eric/tools/dencoder/ to url-encode the key. 
        The ShardAccessKey in the above example would need to have the three "+", one "/", and one "=" replaced, and now look like
      
          X72tLcaxeCoDaTiz5%2BcThPQDEkty%2B%2Ba1jZPtHC5%2FVw%3D
      
    3.  Construct the appSetting needed for the configuration file. In this case it would look like:
    
          <add key="AMQPAddress" value="amqps://D1:X72tLcaxeCoDaTiz5%2BcThPQDEkty%2B%2Ba1jZPtHC5%2FVw%3D@mysensors.servicebus.windows.net" />
    
-->
<configuration>
  <appSettings>
    <add key ="EdgeGateway" value="R Pi"/>
    <add key="AMQPAddress" value="amqps://asa:cuQMTG6carmdZp2aD4wkrE5DCJn8wWQq5U5Zoqd9Pis%3D@connectthesensors.servicebus.windows.net" />
    <add key="EHtarget" value="soundingress" />
  </appSettings>
</configuration>
<!--

For MSOpenTech CTD
<add key="AMQPAddress" value="amqps://D1:8oxVcrvsQmM2E0%2FoMrPxBCb9LwFjEGoEy4WzQbV42Jo%3D@connectthedots-ns.servicebus.windows.net" />
For SS MSDN
<add key="AMQPAddress" value="amqps://D1:MX48tLctzeCoDyTiz5%2BcThPPDEkty%2B%2Ba1jZPtHC5%2FVw%3D@s02-ns.servicebus.windows.net" />
Works
    <add key="AMQPAddress" value="amqps://D1:MX48tLctzeCoDyTiz5%2BcThPPDEkty%2B%2Ba1jZPtHC5%2FVw%3D@s02-ns.servicebus.windows.net" />
    <add key="EHtarget" value="ehdevices" />
-->